
.tablero {
  width: fit-content;
  height: fit-content;
  margin: auto;
  border: 5px solid #333;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f06c4;
  flex-direction: column;
  transition: transform 1s ease;
}
.tableroRival {
  width: fit-content;
  height: fit-content;
  margin: auto;
  border: 5px solid #333;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #530505;
  flex-direction: column;
  transition: transform 1s ease;
}
#tablero-container {
  display: flex;

  overflow: hidden;
}
.tablero-oculto {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(1000%);
}

.tablero-activo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fila {
	display: flex;
	margin-bottom: 2%;
}

.animar {
    transform: scale(1.05);
}
/* Estilo base de la carta */
.carta {
	margin-right: 2%;
	width: 100px;
	height: 150px;
	position: relative;
	perspective: 1000px; /* Establece la perspectiva 3D */
	transition: transform 1s ease-in-out;
  }
  
  /* Estilo de la cara frontal de la carta */
  .carta-frontal {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d; /* Conserva la transformación 3D */
	backface-visibility: hidden; /* Oculta la cara trasera */
  }
  
  /* Estilo de la cara trasera de la carta */
  .carta-trasera {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d; /* Conserva la transformación 3D */
	backface-visibility: hidden; /* Oculta la cara frontal */
	transform: rotateY(180deg); /* Rota la cara trasera 180 grados */
  }
  
  /* Estilo para ocultar el texto de la cara frontal */
  .oculta {
	opacity: 0;
  }

  .show {
	backface-visibility: visible;
  }
  /* Estilo para la animación */
  .girada {
	animation-name: girar;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
  }
  
  /* Definición de la animación */
  @keyframes girar {
	from { transform: rotateY(0deg); }
	to { transform: rotateY(180deg); }
  }

  .carta-frontal img, .carta-trasera img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al contenedor sin deformarla */
}
.personaje {
	border: 3px solid yellow;
	border-radius: 10px;
  }
.elegida {
  box-shadow: 0 0 15px 6px rgba(0, 255, 0, 1);
  transform: scale(1.15);
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;

}

  .botones {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}



  /* Estilos para el contenedor del formulario */
  #formulario-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    animation-duration: 0.5s;
    overflow-x: hidden;
  }

  /* Animación para mostrar el contenedor del formulario */
  @keyframes slideIn {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }

  /* Animación para ocultar el contenedor del formulario */
  @keyframes slideOut {
    from { transform: translateX(0); opacity: 1; }
    to { transform: translateX(100%); opacity: 0; }
  }

  .fila-seleccionables {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    display: inline-block;
  }
  label {
    font-weight: bold;
  }
  
  select {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #327c10ad;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #3e8e41;
  }

  /* Boton de confirmar seleccion */
  .confirmar-seleccion {
    position: fixed;
    top: 40%;
    right: 10%;
    transform: translateY(-50%);
    width: 12.5%;
    height: 10vh;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1000;
    /* Agrega estilos de transición para una animación suave */
    transition: all 0.2s ease-in-out;
  }
  
  .confirmar-seleccion:hover {
    background-color: #3e8e41;
  }
  
  .confirmar-seleccion:active {
    transform: translateY(-50%) scale(0.95);
  }
  @keyframes entrada-boton {
    0% {
      transform: translateX(100%);
    }
    60% {
      transform: translateX(-10%);
    }
    80% {
      transform: translateX(5%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes salida-boton {
    0% {
      transform: translateX(0%);
    }
    20% {
      transform: translateX(-10%);
    }
    40% {
      transform: translateX(15%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .ocultarBoton {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
  }

  .mostrarBoton {
    opacity: 1;
    pointer-events: auto;
    animation-name: entrada-boton;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  .ocultarBotonClick {
    opacity: 0;
    pointer-events: auto;
    animation-name: salida-boton;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  .confirmar-seleccion:active {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  .mensajeInfo {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .mensajeInfo-content {
    background-color: rgba(182, 28, 28, 0.5);
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    box-shadow: 0 0 20px #ad0303;
    animation: slide-in 0.5s ease-out forwards;
    color: #03ad1a;
  }
  
  h2 {
    font-size: 3em;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px #000;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
    color: #000;
    margin-bottom: 20px;
  }

  
  @keyframes slide-in {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
  }

  .mensajeInfo-content.hide {
    animation: slide-out 0.5s ease-out forwards;
  }
  
  @keyframes slide-out {
    from {transform: translateY(0);}
    to {transform: translateY(-200%);}
  }